<!DOCTYPE html>
<html lang="en">

<head>
    <title>MIN HEMSIDA</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/deli-very.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/js/js_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="/js/vue_script.js" defer></script>

</head>

<body>
    <header>
        <h1 id="headline"> TOVA'S DELICIOUS BURGERS </h1>
    </header>

    <main id="main">
        <div id="hamburgarna">
            <div class="box a">
                <h2> Our burgers: </h2>
            </div>
            <!-- Här är min Vue-kod :) -->
            <div v-for="burger in menu">
                <h3> {{burger.name}} </h3>
                <img v-bind:src=burger.img width="480px">
                <ul>
                    <li> {{burger.kCal}} kCal </li>
                    <li v-if=burger.lactose> Contains lactose </li>
                    <li v-if=burger.gluten> Contains gluten </li>
                </ul>
                <p> Add to cart <input type='checkbox' :id='burger.name'> </p>
            </div>

        </div>

        <div id="costumer">
            <form id="delinfo">
                <h2> Leveransinformation: </h2>
                <p> Vi levererar bara i centrala Uppsala.</p>

                <p>
                    <label for="name">Full name</label><br>
                    <input type="text" id="name" name="name" required="required" placeholder="First- and last name">
                </p>
                <p>
                    <label for="email">E-mail address</label><br>
                    <input type="text" id="email" name="email" required="required" placeholder="E-mail address">
                </p>
                <p>
                <h3>Please select your gender below:</h3>
                </p>
                <div id="gender">
                    <p>
                        <input type="radio" id="female" name="gender" value="female">
                        <label for="female">Female</label><br>
                    </p>
                    <p>
                        <input type="radio" id="male" name="gender" value="male">
                        <label for="male">Male</label><br>
                    </p>
                    <p>
                        <input checked type="radio" id="other" name="gender" value="other">
                        <label for="other">Other</label><br>
                    </p>
                    <p>
                        <input checked type="radio" id="dont" name="gender" value="dont">
                        <label for="dont">Do not wish to provide</label><br>
                    </p>
                </div>
                <p>
                <h3>
                    <label for="payment">Payment options</label></h3>
                <select id="payment" name="pay">
                    <option>Swish</option>
                    <option>Credit card</option>
                    <option>Klarna</option>
                    <option>Gift card</option>
                    <option>Cash</option>
                </select>
                </p>

            </form>
            <h3> Please put the dot on delivery adress in map</h3>
            <div class="view-box">
                <div id="dots" v-on:click="displayOrder">
                    <div v-bind:style="{ left: details.x + 'px', top: details.y + 'px'}">
                        T
                    </div>
                </div>
            </div>
        </div>

        <div id="placeOrder">
            <button v-on:click="clickButtonVue"><img src="/img/button.jpg" width="30" height="40"> 
                I'm hungry, place my order!
            </button>
        </div>

        <div v-for="info in orderInfo">
            <p> {{info}} </p>
        </div>
    </main>



    <footer>
        <hr> <br>
        <p> Copyright Tova's delicious burgers AB </p>
    </footer>

</body>

</html>