<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MIN HEMSIDA</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <header>
            <h1>TOVA'S DELICIOUS BURGERS </h1>
            <br> <h4>We hope you're hungry...</h4>
        </header>

        <main>
            <h2> Our burgers:</h2>
            <table> 
                <thead>
                    <tr>
                        <th><h3>Tova's favourite Monday burger</h3></th>
                        <th><h3>Tova's messy Friday burger</h3></th>
                        <th><h3>Tova's most cheesy burger</h3></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><img src="../hamburg.jpg" alt="hamburgarealternativ1" title="Hamburgare nr 1" width="480"></td>
                        <td><img src="../hamburg1.jpg" alt="hamburgarealternativ2" title="Hamburgare nr 2" width="480"> </td>
                        <td><img src="../burgare2.png" alt="hamburgarealt3" title="Hamburgare nr 3" width="480"> </td>
                    </tr>       
                    <tr>
                        <td>
                            <ul>
                                <li>Biffhamburgare med grönsaker, ost och kött.</li>
                                <li>Mycket god.</li>
                                <li>Innehåller gluten, mjölkprodukter och kött.</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Biffhamburgare med grönsaker, ost, bacon och kött.</li>
                                <li>Godast på fredagar.</li>
                                <li>Innehåller gluten, mjölkprodukter och gris (haram).</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Halloumiburgare med fokus på avokado och grönsaker. </li>
                                <li>Vegetariskt alternativ.</li>
                                <li>Gluten free buns and halloumi cheese.</li>
                            </ul>
                        </td>
                    </tr>    
                </tbody>
            </table>

            <form><h2> Leveransinformation: </h2> 
                <p> Vi levererar bara i centrala Uppsala.</p>

                <p>
                    <label for="firstname">Full name</label><br>
                    <input type="text" id="firstname" name="fn" required="required" placeholder="First- and last name">
                </p>
                <p>
                    <label for="email">E-mail address</label><br>
                    <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" required="required" placeholder="Street name">
                </p>
                <p>
                    <label for="house nr">House</label><br>
                    <input type="number" id="house" name="ho" required="required" placeholder="House number">
                </p>

                <p><h3>Please select your gender below:</h3> </p>
                <p>
                    <input type="radio" id="female" name="gender" value="female" >
                    <label for="female">Female</label><br>
                </p>
                <p>
                    <input type="radio" id="male" name="gender" value="male" >
                    <label for="male">Male</label><br> 
                </p>
                <p>
                    <input checked type="radio" id="other" name="gender" value="other" >
                    <label for="other">Other</label><br> 
                </p>
                <p>
                    <input checked type="radio" id="dont" name="gender" value="dont" >
                    <label for="dont">Do not wish to provide</label><br> 
                </p>
                <p>
                    <label for="payment">Payment options</label><br>
                    <select id="payment" name="pay">
                        <option>Swish</option>
                        <option>Credit card</option>
                        <option>Klarna</option>
                        <option>Gift card</option>
                        <option>Cash</option>
                    </select>
                </p>
                <button type="submit"><img src="./static/1md034/img/html/image_button.png"> Send Info</button>
                
            </form>
        </main>
        <footer>
            <hr> <br>
            <p>Copyright Tova's delicious burgers AB </p>

        </footer>
    </body>
</html>